* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
		text-align: center;
}

.nav-bar__link {
  display: inline-block;
}

.nav-bar__link a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 20px; 
}

.nav-bar__link a:hover {
  background-color: #c9c9c9;
}

.section {
  text-align: center;
  padding: 60px;
  background-color: #f7f3e3;
}

.section--splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e24e1b;
  height: 65%;
}

.section--lighter {
  background-color: #d6d4a0;
  color: black;
}

.section__title {
  font-size: 9vmin;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.section__subtitle {
  font-size: 4vmin;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section__heading {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  text-align: center;
}

.section__content {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.section__projects,
.section__show-all,
.section__contacts {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

#project-list {
  list-style-type: none;
}

.section__projects {
  padding-top: 60px;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 0 auto;width: 100%;
}

.project {
  display: flex;
  flex-direction: row;
  min-width: 375px;
  text-decoration: none;
}

.project--invert {
  flex-direction: row-reverse;
}

.project__pic {
  width: 50%;
}

.project__pic img {
  max-width: 100%;
}

.project__title--left {
  text-decoration: none;
  height: 20px;
  color: white;
  display: flex;
}

.project__pic--right {
  text-decoration: none;
  width: 40%;
  height: 160px;
  color: white;
  position: relative;
}

.project__title--right {
  text-decoration: none;
  width: 40%;
  height: 30px;
  color: white;
  display: flex;
}

.project__title {
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.project__title:visited {
  text-decoration: none;
}

.section__projects .work-header {
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.section__projects-box {
  margin: 10px auto;
  padding: 30px;
  background-color: #A44200;
  border-radius: 1em; 
}

.section__projects-box:hover {
  background-color: #55505C;
  transition: 0.3s;
}

.project__text {
  margin: 10px;
  color: white;
		
}

.project__box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	width: 50%;
	display: inline-block;
}



.section__show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  margin: 20px auto 90px;
  background: #424B54;
  color: #008080;
  font-weight: bold;
  border: 2px solid #90c695;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.section__show-all:hover {
  background: #F5F1ED;
  color: #A8763E;
}

.section__contacts {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 0;
  width: 50%;
  justify-content: center;
}

.section__contact-detail {
  display: inline-block;
  font-weight: bold;
  margin: 0 20px;
  border: 2px solid #A8763E;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.section__contact-detail:hover {
  background: #7bc1c4;
  color: green;
}
