@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  scroll-behavior: smooth;
}

.projects__image {
  height: 13em;
  width: 13em;
}

.section__projects,
.section__show-all,
.section__contacts {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#project-list {
  list-style-type: none;
}

.section__projects {
  display: flex;
  padding-top: 60px;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.project {
  flex-basis: 50%;
  padding: 30px;
  min-width: 50%;
  text-decoration: none;
  color: white;
}

.project__box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__pic-left {
        text-decoration: none;
        width: 50%;
        height: 190px;
        float: left;
        color: black;
    }

.project__title-left {
  text-decoration: none;
  width: 50%;
  height: 180px;
  float: left;
  color: white;
}

.project__pic {
  display: inline;
  text-decoration: none;
  width: 40%;
  height: 160px;
  color: white;
  position: relative;
}

.project__title-right {
  text-decoration: none;
  width: 50%;
  height: 180px;
  color: white;
}

.project__title {
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.project__title:visited {
  text-decoration: none;
}

.project__text {
  display: block;
  margin: 40px;
}

.section__projects .work-header {
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.section__projects-box {
  max-width: 44%;
  max-height: 25%;
  min-width: 300px;
  margin: 10px auto;
  padding: 30px;
  background-color: #A44200;
  border-radius: 1em;
}

.section__projects-box:hover {
  background-color: #c9c9c9;
  transition: background-color 0.3s ease;
}

.section__show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  margin: 20px auto 90px;
  background: #424B54;
  color: #008080;
  font-weight: bold;
  border: 2px solid #90c695;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

.section__show-all:hover {
  background-color: #F5F1ED;
  transition: background-color 0.3s ease;
  color: #A8763E;
}

.section__contacts {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 0;
  width: 50%;
  justify-content: center;
}

.section__contact-detail {
  display: inline-block;
  font-weight: bold;
  margin: 0 20px;
  border: 2px solid #A8763E;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #52414c;
  color: #CFD186;
  text-decoration: none;
}

.section__contact-detail:hover {
  background: #7bc1c4;
  transition: background 0.3s ease;
  color: green;
}

.typed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
}

.typed__prefix {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}

.typed__text {
  font-size: xx-large;
  font-weight: 500;
}

.typicalWrapper::after {
  content: "|";
  animation: blink 1s infinite step-start;
}

.section__projects-box {
  width: 50%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .project__pic {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 40%;
    height: 160px;
    float: right;
    color: white;
    position: relative;
    display: none;
  }

  section__projects {
    display: flex;
    padding-top: 60px;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .project__text {
    display: block;
    margin: 0px;
    height: 100px;
    min-width: 100px;
  }

}

@media screen and (max-height: 700px) {

  .section__about-splash {
    padding: 5px 0;
    height: 100vh;
  }

}